<div *ngIf="isLoadingResults">
  <mat-spinner *ngIf="isLoadingResults || isError"></mat-spinner>
  <div *ngIf="isError">
    Rate limit has been reached. It will be reset in one minute.
  </div>
</div>

<div class="container">
<div class="mat-elevation-z8">
  <mat-toolbar>   
    <mat-toolbar-row>
      <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="name">
      </mat-form-field>
      <span class="topbar"></span>
  <span>
  <mat-icon (click)="addEmployee()" class="add-icon">add_circle</mat-icon>
</span>
    </mat-toolbar-row>
  </mat-toolbar>

  <table mat-table [dataSource]="dataSource" matSort matSortActive="employeeId" matSortDirection="desc" >

    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
        </mat-checkbox>
      </td>

    </ng-container>

    <ng-container matColumnDef="employeeId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Employee Id</th>
      <td mat-cell *matCellDef="let row">{{row.employeeId}}</td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let row">{{row.name}}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
      <td mat-cell *matCellDef="let row">{{row.email}}</td>
    </ng-container>

    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Address
      </th>
      <td mat-cell *matCellDef="let row">{{row.address}}</td>
    </ng-container>
    <ng-container matColumnDef="workLocation">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Work Location
      </th>
      <td mat-cell *matCellDef="let row">{{row.workLocation}}</td>
    </ng-container>
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Position
      </th>
      <td mat-cell *matCellDef="let row">{{row.position}}</td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell  *matHeaderCellDef > Actions </th>
      <td mat-cell *matCellDef="let row" >
        <button mat-button color="primary" [ngStyle]="{'width':'100px', 'text-align':'left'}" (click)="editEmployee(row)">Edit</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></tr>
  </table>
  <mat-toolbar>
    <mat-toolbar-row>
      <mat-icon *ngIf="selection.hasValue()" (click)="massEditEmployee()" title="Edit">edit</mat-icon>
      <span class="topbar"></span>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>    </mat-toolbar-row>
  </mat-toolbar>
</div>
<div *ngIf="isEditEmployee">
  <app-edit (submitted)="edit($event)" [employee] = "employee"></app-edit>
</div>
</div>