<mat-card class="home-container">
<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span><h3>Employee Management </h3></span>
      <span class="home-spacer"></span>
      <mat-icon class="home-icon" aria-hidden="false" aria-label="heart icon"  matBadge="15" matBadgeColor="warn">home</mat-icon>
    </mat-toolbar-row>
  </mat-toolbar>
<mat-card-content class="home-content">
  <router-outlet></router-outlet>
</mat-card-content>
<mat-card-actions class="home-footer">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span><h3>EMS&copy;Ideacrest Limited solutions</h3></span>
      <span class="home-spacer"></span>
      
  <button mat-button (click) ="goBack()">Privious</button>
  <button mat-button (click) ="goForward()">Next</button>
    </mat-toolbar-row>
  </mat-toolbar>
</mat-card-actions>
</mat-card>