.add-icon {
    padding: 0 14px;
  }
  
  .add-spacer {
    flex: 1 1 auto;
  }

  .wrapper {
    margin: 15px;
  }
  
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    justify-content: space-between;
    flex: 1
  }
  
  mat-form-field {
    height: 100px;
    width: 80%;
  }
  
  
  .double-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 2
  }

  @media screen and (min-width: 800px) {
    .column {
      flex: 1
    }
  
    .double-column {
      flex: 2
    }
  }
 

