.home-icon {
    padding: 0 14px;
  }
  
  .home-spacer {
    flex: 1 1 auto;
  }

  .home-container {
    height: 100%;
    overflow: hidden;
  }

  .home-content {
    width: 100%;
    height: 85%; 
  }

  .home-footer {
    width: 100%;
    height: 15vh;
  }