<mat-card class="home-container">
<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span><h3>Employee Management </h3></span>
      <span class="home-spacer"></span>


      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon class="home-icon" aria-hidden="false" aria-label="heart icon"  matBadge="{{data.length}}" matBadgeColor="warn">home</mat-icon>
      </button>
      <mat-menu #menu="matMenu" >
     <ng-container *ngFor="let item of data">
        <button mat-menu-item>
          <!-- <mat-icon>notifications_off</mat-icon> -->
          <span>{{item.updateMessage}}</span>
        </button>
      </ng-container>
      </mat-menu>

    </mat-toolbar-row>
  </mat-toolbar>
<mat-card-content class="home-content">
  <router-outlet></router-outlet>
</mat-card-content>
<mat-card-actions class="home-footer">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span><h3>EMS&copy;Ideacrest Limited solutions</h3></span>
      <span class="home-spacer"></span>
      
  <button mat-button (click) ="goBack()">Privious</button>
  <button mat-button (click) ="goForward()">Next</button>
    </mat-toolbar-row>
  </mat-toolbar>
</mat-card-actions>
</mat-card>