<mat-card>
  <table >
    <thead>
      <tr>
        <th scope="col">Employee Id</th>
        <th scope="col">Name</th>
        <th scope="col">Position</th>
        <th scope="col">Email</th>
        <th scope="col">Address</th>
        <th scope="col">Work Location</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of data" (click)="employee.isUpdate=true && employee.updateMessage='Employee updated'">
       
        <td scope="row" style="width:50%">
             <h3>{{employee.employeeId}}</h3> 
        </td>
        <td scope="row" style="width:50%">
          <app-inline-edit [(ngModel)]="employee.name" type="text" > </app-inline-edit>
        </td>
        <td scope="row" style="width:50%">
          <app-inline-edit [(ngModel)]="employee.position" type="text"> </app-inline-edit>
        </td>
        <td scope="row" style="width:50%">
          <app-inline-edit [(ngModel)]="employee.email" type="text"> </app-inline-edit>
        </td>
        <td scope="row" style="width:50%">
          <app-inline-edit [(ngModel)]="employee.workLocation" type="text"> </app-inline-edit>
        </td>
        <td scope="row" style="width:50%">
          <app-inline-edit [(ngModel)]="employee.address" type="text"> </app-inline-edit>
        </td>
      </tr>
    </tbody>
  </table>
  <mat-toolbar>
    <mat-toolbar-row>
      <button mat-button color="primary" [ngStyle]="{'width':'300px', 'text-align':'center'}" (click)="massUpdateEmployee()" >Save</button>
      <span class="topbar"></span>


      <mat-paginator [pageSizeOptions]="[5, 30]" showFirstLastButtons></mat-paginator>
      </mat-toolbar-row>
      </mat-toolbar>

  <mat-progress-bar mode="indeterminate"></mat-progress-bar>


</mat-card>