<mat-card>
    <mat-toolbar>
        <mat-toolbar-row>
            <span>Add Employee</span>
            <span class="add-spacer"></span>
        </mat-toolbar-row>
    </mat-toolbar>
    <div class='wrapper'>
        <form (ngSubmit)="onSubmit()" [formGroup]="addEmployeeForm">
        <div class='row'>
            <div class='column'>
                <mat-form-field appearance="fill" class='fields'>
                    <mat-label>Name</mat-label>
                    <input matInput type="text" formControlName="name">
                </mat-form-field>
            </div>
            <div class='column'>
                <mat-form-field appearance="fill" class='fields'>
                    <mat-label>Email</mat-label>
                    <input matInput type="text" formControlName="email" appEmailValidator>
                </mat-form-field>
            </div>
            <div class='column'>
                <mat-form-field appearance="fill" class='fields'>
                    <mat-label>Address</mat-label>
                    <input matInput type="text" formControlName="address">
                </mat-form-field>
            </div>
        </div>
        <div class='row'>
            <div class='column'>
                <mat-form-field appearance="fill" class='fields'>
                    <mat-label>WorkLocation</mat-label>
                    <input matInput type="text" formControlName="workLocation">
                </mat-form-field>
            </div>
            <div class='column'>
                <mat-form-field appearance="fill" class='fields'>
                    <mat-label>Position</mat-label>
                    <input matInput type="text" formControlName="position">
                    
                </mat-form-field>
            </div>
            <div class='column'><span class='fields' [ngStyle]="{'justify-content': 'center'}">
                <button mat-stroked-button [ngStyle]="{'width':'40%', 'text-align':'center'}" color="primary" 
                [disabled]="!addEmployeeForm.valid" type="submit">Save</button>

                <button mat-stroked-button [ngStyle]="{'width':'40%', 'text-align':'center'}" color="primary" 
                 type="reset" click="clearForm()" [disabled]="addEmployeeForm.pristine">Reset</button>
            </span>
            </div>

        </div>
    </form>
    </div>

</mat-card>
<mat-progress-bar mode="indeterminate"></mat-progress-bar>