@import './../../../../assets/variables.scss';
.topbar {
    flex: 1 1 auto;
}
.add-icon {
    padding: 0 14px;
    cursor: pointer;
  }
  mat-icon {
    @include mat-icon-size(60px);
  }

  :host {
    .add-icon {
      &mat-icon {
        @include mat-icon-size(60px);
      }
    }
  }

  
  .list-employee {
    tr:nth-child(odd) {
     background-color: #A0A0A0;   }
   th{
     background-color: #fff;
   }
   td, th {
     width: 14%;
   }
   }
  