<div>
    <div *ngIf="editing">
      <input [required]="required" (blur)="onBlur($event)" [name]="value" [(ngModel)]="value" [placeholder]="label" />
    </div>
    <div *ngIf="!editing">
      <a href="#" (click)="beginEdit(value)" (focus)="beginEdit(value)" tabindex="0">{{value}}</a>
    </div>
  </div>