<mat-card>
    <mat-toolbar>
        <mat-toolbar-row>
            <span>Edit Employee</span>
            <span class="add-spacer"></span>
        </mat-toolbar-row>
    </mat-toolbar>
    <div class='wrapper'>
        <form (ngSubmit)="onSubmit()" #employeeForm="ngForm">
        <div class='row'>
            <div class='column'>
                <mat-form-field appearance="fill" class='fields'>
                    <mat-label>Name</mat-label>
                    <input matInput type="text" [(ngModel)]="employee!.name" name="name" [required]="true">
                    <button mat-button *ngIf="employee!.name" matSuffix mat-icon-button aria-label="Clear" (click)="employee.name=''">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
            </div>
            <div class='column'>
                <mat-form-field appearance="fill" class='fields'>
                    <mat-label>Email</mat-label>
                    <input matInput type="text" [(ngModel)]="employee!.email" name="email" required appEmailValidator>
                    <button mat-button *ngIf="employee!.email" matSuffix mat-icon-button aria-label="Clear" (click)="employee.email=''">
                        <mat-icon>close</mat-icon></button>
                </mat-form-field>
            </div>
            <div class='column'>
                <mat-form-field appearance="fill" class='fields'>
                    <mat-label>Address</mat-label>
                    <input matInput type="text" [(ngModel)]="employee!.address" name="address">
                    <button mat-button *ngIf="employee!.address" matSuffix mat-icon-button aria-label="Clear" (click)="employee.address=''">
                        <mat-icon>close</mat-icon></button>
                </mat-form-field>
            </div>
        </div>
        <div class='row'>
            <div class='column'>
                <mat-form-field appearance="fill" class='fields'>
                    <mat-label>WorkLocation</mat-label>
                    <input matInput type="text" [(ngModel)]="employee!.workLocation" name="workLocation">
                    <button mat-button *ngIf="employee!.workLocation" matSuffix mat-icon-button aria-label="Clear" (click)="employee.workLocation=''">
                        <mat-icon>close</mat-icon></button>
                </mat-form-field>
            </div>
            <div class='column'>
                <mat-form-field appearance="fill" class='fields'>
                    <mat-label>Position</mat-label>
                    <input matInput type="text" [(ngModel)]="employee!.position" name="position">
                    <button mat-button *ngIf="employee!.position" matSuffix mat-icon-button aria-label="Clear" (click)="employee.position=''">
                        <mat-icon>close</mat-icon>
                        </button>
                </mat-form-field>
            </div>
            <div class='column'><span class='fields' [ngStyle]="{'justify-content': 'center'}">
                <button mat-stroked-button [ngStyle]="{'width':'40%', 'text-align':'center'}" color="primary" 
                [disabled]="!employeeForm.form.valid || employeeForm.form.pristine" type="submit">Save</button>

                <button mat-stroked-button [ngStyle]="{'width':'40%', 'text-align':'center'}" color="primary" 
                 type="reset" (click) ="clearForm()" [disabled]="employeeForm.pristine">Reset</button>
            </span>
            
            </div>

        </div>
    </form>
    </div>

</mat-card>
<mat-progress-bar mode="indeterminate"></mat-progress-bar>