@import '~@angular/material/theming';
@include mat-core();
$employee-management-system-primary: mat-palette($mat-indigo);
$employee-management-system-accent: mat-palette($mat-pink, A200, A100, A400);
$employee-management-system-warn: mat-palette($mat-red);
$employee-management-system-theme: mat-light-theme($employee-management-system-primary, $employee-management-system-accent, $employee-management-system-warn);
@include angular-material-theme($employee-management-system-theme);
html, body { height: 100vh; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

  .card-container{
    width: 50%;
    height: auto;
    display: block;
    margin-left:auto;
    margin-right:auto; 
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 35%;
}